.input-group-btn.input-space {
  padding-left: 15px;
}

.btn-space {
    margin-right: 5px;
}

.navbar-center-vertical {
    min-height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.swal-wide{
    width:650px !important;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

.container-full {
  margin: 0 auto !important;
  width: 100% !important;
}

.chart {
  width: 50%;
  margin: 0 auto;
}

.ui-select-bootstrap {
  max-width: 300px;
}

.select-field {
  width:auto;
  max-width: 300px;
  display: inline-block;
}
