<div class="panel panel-default">
    <div class="panel-body">
        <br class="panel panel-default">
        <input type="text" ng-model="branchPath" class="form-control" placeholder="Enter the branch name that you want to add" bs-options="path for path in possibleProcessesPaths" bs-typeahead/>
        </br>
        <div>
            <button class="btn btn-primary" ng-click="addServerBranch()">Add branch to server paths </button>
        </div>
    </br>

</div>
</div>
