<div class="container container-full">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Coredump job id</th>
                        <th>Process path</th>
                        <th>Build version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="job in filteredCoreDumpJobs">
                        <td><a ng-href="/#!/core_dump_job/{{job.coreDumpId}}"><strong> {{job.coreDumpId}}</strong></a></td>
                        <td>{{job.coredumpPath}}</td>
                        <td>{{job.buildVersion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination ng-model="currentPage" total-items="coreDumpJobs.length" max-size="maxSize" boundary-links="true" items-per-page="numPerPage">
        </pagination>
    </div>
</div>
