<div class="container container-full">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Crash ID</th>
                        <th>Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="crash in filteredCrashes">
                        <td><a ng-href="/#!/crash/{{crash.crashId}}"><strong> {{crash.crashId}}</strong></a></td>
                        <td>
                            <div style="float:left" ng-repeat="ticket in crash.tickets">
                                <a ng-href="/#!/ticket/{{ticket}}"><strong>{{ticket}}{{$last ? "" : ", "}}</strong></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination ng-model="currentPage" total-items="crashIds.length" max-size="maxSize" boundary-links="true" items-per-page="numPerPage">
        </pagination>
    </div>
</div>
