<div class="container container-full">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Elvis ID</th>
                        <th>Title</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticket in filteredTickets">
                        <td><a ng-href="/#!/ticket/{{ticket.ticketId}}"><strong>{{ticket.ticketId}}</strong></a></td>
                        <td>{{ticket.generalInfo.Title}}</td>
                        <td>{{ticket.generalInfo.Status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination ng-model="currentPage" total-items="tickets.length" max-size="maxSize" boundary-links="true" items-per-page="numPerPage">
        </pagination>
    </div>
</div>