<div class="container container-full">
    <div class="well well-lg">
        <ui-select class="ui-select-bootstrap" ng-model="selectedChartTemplate.value" theme="bootstrap">
            <ui-select-match placeholder="Select or search for a chart template..."><span ng-bind="selectedChartTemplate.value"> </span>
            </ui-select-match>
            <ui-select-choices repeat="t in (chartTemplatesMapKeys | filter: $select.search)">
                <span ng-bind="t"></span>
            </ui-select-choices>
        </ui-select>
        <div ng-show="selectedChartTemplate.value=='Custom'">
            <div id="builder" ng-show="selectedChartTemplate.value=='Custom'"></div>
        </div>
        <div class="select-field" ng-show="selectedChartTemplate.value=='Custom'">
            <label for=chartType>Type</label>
            <select class="form-control" id="chartType" ng-init="chartType = chartTypes[0]" ng-model="chartType" ng-options="t for t in chartTypes"></select>
        </div>
        <div class="select-field" ng-show="chartType=='Bar' && selectedChartTemplate.value=='Custom'">
            <label for=chartOrientation>Orientation</label>
            <select class="form-control" id="chartOrientation" ng-init="chartOrientation = chartOrientations[0]" ng-model="chartOrientation" ng-options="t for t in chartOrientations"></select>
        </div>
        <div class="select-field">
            <input class="form-control" ng-required="true" placeholder="Title" ng-model="chartTitle" ng-show="selectedChartTemplate.value=='Custom'"></input>
        </div>
        </br>
        <div ng-if="selectedChartTemplate.value=='Custom'">
            </br>
        </div>
        <button class="btn btn-primary" type="button" ng-click="titleCheck(chartTitle)">
            Add chart
        </button>
        </br>
        </br>
        <div ng-show="chartList.length > 0" class="jumbotron">
            <div ng-repeat="chart in chartList">
                <div class="chart" ng-bind-html="chart">
                </div>
                </br>
                </br>
            </div>
        </div>
    </div>
</div>