<div class="jumbotron text-center">
    <h2>Wave Project Backtrace Extractor</h2>
</div>
<div class="jumbotron text-left">
    <h3>Usage for core dump extraction</h3>
    <ul>
        <li>Select the Extract BT from Core Dump tab from the navigation bar </li>
        <li>Upload the core dump file with the gz format by pressing the [Upload Core Dump] button </li>
        <li>Specify the whole path for the application you want to debug,e.g. /usr/bin/PingIPC </li>
        <li>Enter the build version you want to debug to</li>
        <li>You have an option to get the extended backtrace(see all frame details) by checking the <font color="#ff99cc">[Extended backtrace]</font> checkbox</li>
        <li>Press the Get backtrace and once the backtrace is finished you'll be redirected to the backtrace page where you can also download it to a txt format file</li>
</ul>
</div>
