<div class="container container-full">
	<div class="well" ng-if="dataRetrieved">
		Tickets for crashId: <strong>{{crashId}}</strong>
		</br>
		</br>
		 <ul ng-repeat="ticket in crashIdInfo.tickets">
	        <li><a ng-href="/#!/ticket/{{ticket}}"><strong> {{ticket}}</strong></a></li>
	    </ul>
    </div>
</div>