<div class="container container-full">
    <div class="well well-lg">
        <div class="well" ng-show="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === false && coredumpInfo.isFinished === true">
            <div class="well">
                <p ng-if="coredumpInfo.buildVersion !== undefined"> Version: <b> {{coredumpInfo.buildVersion}} </b> </p>
                <p ng-if="coredumpInfo.coredumpPath !== undefined"> Core dump:
                    <a style="cursor: pointer;" ng-click="downloadCoreDump()"><b> {{coredumpInfo.coredumpPath}} </b></a>
                </p>
                <p ng-if="coredumpInfo.crash.payload.full_path !== undefined && coredumpInfo.crash.payload.full_path.length !== 0"> Full path: <b> {{coredumpInfo.crash.payload.full_path = coredumpInfo.crash.payload.full_path.replace('!', '/')}} </b> </p>

                <a download="{{coredumpInfo.crash.btName}}" ng-href="{{coredumpInfo.crash.btTxtBlob}}">
                    <button type="button" class="btn" style="color: black !important;">Download backtrace</button>
                </a>
                <button type="button" class="btn btn-link" ng-click="coredumpInfo.crash.showCrash = !coredumpInfo.crash.showCrash"> Show Backtrace </button>
                </br>
                </br>
                <div class="well well-sm animate-show-hide" ng-show="coredumpInfo.crash.showCrash">
                    <div style="white-space: pre-wrap">{{coredumpInfo.crash.bt}}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <br class="panel-body">


                <div id="devfile" class="input-group" ng-show="coredumpInfo.isFinished === false">
                    <label class="input-group-btn">
                        <span class="btn btn-success">
                                Developer File <input type="file" file-model="devFile" style="display: none;" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true">
                        </span>
                    </label>
                    <input type="text" ng-model="devFile.name" class="form-control" readonly>

                </div>

            </br>

                <input type="text" ng-model="buildVersion" class="form-control" placeholder="Enter build version. ex: 18304A" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true" />
                </br>


                <input type="text" ng-model="devfilepath" class="form-control" placeholder="Enter path for developer file. ex: /usr/lib/libasm.so" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true" bs-options="path for path in possibleProcessesPaths" bs-typeahead/>
                </br>
                <button class="btn btn-primary" ng-click="uploadDeveloperFile()" ng-hide="coredumpInfo.isFinished === true" ng-disabled="coredumpsService.isUploadingFile() === true">Upload Developer File</button>
                </br>
                </br>
                </div>

            <div class="panel panel-default">
            <br class="panel-body">
                <div class="input-group" ng-show="coredumpInfo.isFinished === false">
                    <label class="input-group-btn">
                        <span class="btn btn-success">
                                Upload core dump <input type="file" file-model="myFile" style="display: none;" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true">
                        </span>
                    </label>
                    <input type="text" ng-model="myFile.name" class="form-control" readonly>
                </div>

            </br>
                <input type="text" ng-model="processFullPath" class="form-control" placeholder="Path for the application to be debugged. ex: /usr/bin/PathologyProc" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true" bs-options="path for path in possibleProcessesPaths" bs-typeahead/>
                </br>


                <label class="btn btn-default" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true">
                    <input type="checkbox" ng-model="checkbox.getExtendedBacktrace" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true"> Extended backtrace (all threads)
                </label>
                </br>
                </br>
                <button class="btn btn-primary" ng-click="uploadFile()" ng-hide="coredumpInfo.isFinished === true" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true">Get backtrace</button>
                <button type="button" class="btn btn-warning" ng-click="solveAgain()" ng-show="coredumpInfo.isFinished === true" ng-disabled="coredumpsService.isSolvingCrashInProgress(coredumpJobId) === true"> Enforce to process core dump again.. </button>
            </div>
        </div>
    </div>
</div>
