<div class="container container-full">
    <div class="well">
        <label> Search duplicate tickets for: </label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-disabled="dupJobInProgress" ng-click="searchDuplicatesForTicket()"> Search </button>
            </span>
            <input type="text" placeholder="Enter a ticket to search for duplicates" ng-keyup="$event.keyCode == 13 ? searchDuplicatesForTicket() : null" ng-disabled="dupJobInProgress" class="form-control" ng-model="ticketId" />
        </div>
        </br>
        </br>
        <div class="well" ng-show="dupJobFinished">
            <label ng-if="dups.all.length === 0"> No duplicates </label>
            <div ng-repeat="(key, ticketIds) in dups.dupsByCrash">
                <div class="well well-sm" ng-if="ticketIds.length > 0">
                    Tickets duplicates by crash with crashId <a ng-href="/#!/crash/{{key}}"><strong>{{key}}</strong></a>
                    <div ng-repeat="ticket in ticketIds">
                        <a ng-href="/#!/ticket/{{ticket}}"><strong>{{ticket}}</strong></a>
                    </div>
                </div>
            </div>
            </br>
            <label ng-if="dups.all.length !== 0">All ticket duplicates</label>
            <div ng-repeat="tck in dups.all">
                <a ng-href="/#!/ticket/{{tck}}"><strong>{{tck}}</strong></a>
            </div>
        </div>
    </div>
