<nav class="navbar navbar-inverse navbar-center-vertical">
    <div ng-show="isLoggedIn === true" class="pull-left">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" ng-disabled="jobInProgress" ng-keyup="$event.keyCode == 13 ? getTicketInfo() : null" class="form-control" ng-model="ticketId" placeholder="Search ticket info.." />
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="getTicketInfo()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <ul class="nav navbar-nav nav-pills" style="margin-left: 15px;">
        <li ng-show="isLoggedIn === false" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/register">Register</button>
        </li>
        <li ng-show="isLoggedIn === false" >
            <button class="btn btn-link" go-click="/login">Log In</button>
        </li>
        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/contact">Home</button>
        </li>
        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/all_tickets">See all tickets</button>
        </li>
        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/core_dump_job/">Extract BT from core dump</button>
        </li>

                <li ng-show="isLoggedIn === true && isDeveloper === true" style=" border-right: 1px solid #bbb">

            <button class="btn btn-link" go-click="/developer_core_dump_job">Developer's Toolbox</button>

        </li>

        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/all_core_dump_jobs/">All core dump jobs</button>
        </li>
        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/tags">Search by tag</button>
        </li>
        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/duplicates">Search duplicates</button>
        </li>
        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/all_crashes">See all crash ids</button>
        </li>
        <li ng-show="isLoggedIn === true && isAdmin" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/charts">Charts</button>
        </li>

        <li ng-show="isLoggedIn === true" style=" border-right: 1px solid #bbb">
            <button class="btn btn-link" go-click="/AdminPage">Charts</button>
        </li>



        <li ng-show="isLoggedIn === true ">
            <div ng-controller="logoutController">
                <button class="btn btn-link" ng-click='logout()'>Log out</button>
            </div>
        </li>
        <!--  <li ng-show="isLoggedIn === true && userEmail !== 'none'">
            <button class="btn btn-link">
                <p style="color:white"> Logged in with {{userEmail}} </p>
            </button>
        </li> -->
    </ul>
</nav>
