<div class="container container-full">
    <div class="well">
        <label> Search tickets by tag: </label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-disabled="tagJobInProgress" ng-click="searchByTag()"> Search </button>
            </span>
            <input type="text" ng-keyup="$event.keyCode == 13 ? searchByTag() : null" ng-disabled="tagJobInProgress" class="form-control" ng-model="tag" bs-options="tag for tag in allTags" placeholder="Search for tag" bs-typeahead/>
        </div>
        </br>
        </br>
        <div class="well" ng-show="tagJobFinished">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Elvis ID</th>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ticket in tickets">
                            <td><a ng-href="/#!/ticket/{{ticket.ticketId}}"><strong>{{ticket.ticketId}}</strong></a></td>
                            <td>{{ticket.generalInfo.Title}}</td>
                            <td>{{ticket.generalInfo.Status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
