<div class="container container-full">
    <div class="well well-lg">
        <div class="table-responsive" ng-show="elvisInfoRetrieved">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Software Version</th>
                        <th>Priority</th>
                        <th>Responsible</th>
                        <th>Developer</th>
                        <th>Reported</th>
                        <th>Categorizing</th>
                        <th>Processing</th>
                        <th>Planned</th>
                        <th>Elvis Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ticketInfo.generalInfo.Ticket}}</td>
                        <td>{{ticketInfo.generalInfo.Title}}</td>
                        <td>{{ticketInfo.generalInfo.Status}}</td>
                        <td>{{ticketInfo.generalInfo.SoftwareVersion}}</td>
                        <td>{{ticketInfo.generalInfo.Priority}}</td>
                        <td>{{ticketInfo.generalInfo.Responsible}}</td>
                        <td>{{ticketInfo.generalInfo.Developer}}</td>
                        <td>{{ticketInfo.generalInfo.Reported.$date | date:'yyyy-MM-dd'}}</td>
                        <td>{{ticketInfo.generalInfo.Categorizing.$date | date:'yyyy-MM-dd'}}</td>
                        <td>{{ticketInfo.generalInfo.Processing.$date | date:'yyyy-MM-dd'}}</td>
                        <td>{{ticketInfo.generalInfo.Planned}}</td>
                        <td><a target="_blank" href="https://elvis.harman.com/cgi-bin/ticket?TID={{ticketInfo.generalInfo.Ticket}}">View in Elvis</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="well well-sm">
            <form name="ticketTagsForm" ng-submit="saveTags()">
                <md-chips ng-model="editableTicketTags" name="ticketTag" readonly="false" md-removable="removable" md-max-chips="10" placeholder="Enter tag" md-autocomplete-snap md-require-match>
                    <md-autocomplete md-no-cache="true" md-search-text="tagSearchText" md-items="tag in querySearchDeferred(tagSearchText)" placeholder="Enter tag">
                        <md-item-template>{{tag}}</md-item-template>
                    </md-autocomplete>
                    <md-chip-template>
                        <a ng-href="/#!/tags/{{$chip}}"><strong>{{$chip}}</strong></a>
                        <em>(tag)</em>
                    </md-chip-template>
                </md-chips>
                <div class="errors" ng-messages="ticketTagsForm.ticketTag.$error">
                    <div ng-message="md-max-chips">Maximum number of tags reached.</div>
                </div>
                </br>
                <input class="btn btn-success" type="submit" id="submit" value="Save tags" />
            </form>
        </div>
        <div class="well" ng-if="ticketInfo.areBacktracesSolved === true && ticketInfo.crashIds.length > 0">
            <label> All crashIds </label>
            <ul ng-repeat="crashId in ticketInfo.crashIds">
                <li><a ng-href="/#!/crash/{{crashId}}"><strong> {{crashId}}</strong></a></li>
            </ul>
        </div>
        <div ng-if="ticketInfo.areBacktracesSolved === false">
            <label> <h3> Ticket is unprocessed </h3> </label>
            </br>
            <label ng-show="ticketService.isSolvingCrashInProgress(ticketId) === true" style="color: orange"> Ticket is currently being processed... please wait </label>
            </br>
            <label ng-show="ticketService.isSolvingCrashInProgress(ticketId) === true" style="color: green"> {{ticketStatus | placeholder:''}} </label>
            </br>
            <div class="well">
                <div class="well">
                    <strong> Processing options </strong>
                    </br>
                    </br>
                    <label class="btn btn-default" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true">
                        <input type="checkbox" ng-model="checkbox.getExtendedBacktrace" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true"> Extended backtrace (all threads)
                    </label>
                    </br>
                    </br>
                    <input type="text" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true" ng-model="manualPath.processFullPath" class="form-control" placeholder="Manually enter full path for process" bs-options="path for path in possibleProcessesPaths" bs-typeahead/>
                    </br>
                    <ui-select class="ui-select-bootstrap" ng-model="variant.value" theme="bootstrap" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true">
                        <ui-select-match placeholder="Choose a variant"><span ng-bind="variant.value"> </span>
                        </ui-select-match>
                        <ui-select-choices repeat="t in (variants | filter: $select.search)">
                            <span ng-bind="t"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button type="button" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true" class="btn btn-info" ng-click="solveCrashes()"> Add to processing queue </button>
            </div>
        </div>
        <div class="well" ng-show="ticketInfo.areBacktracesSolved === true">
            <label>Currently there are {{ticketInfo.solvedCrashes.length}} backtraces found</label>
            <div ng-if="ticketInfo.hasKernelPanic === true">
                </br>
                <label style="color: red">Kernel panic detected</label>
            </div>
            </br>
            <div ng-repeat="crash in ticketInfo.solvedCrashes">
                <div class="well">
                    <p> Crash id: <a ng-href="/#!/crash/{{crash.payload.crash_id}}"><strong> {{crash.payload.crash_id}} </strong></a> </p>
                    <p ng-if="crash.payload.version !== undefined && crash.payload.version.length !== 0"> Version: <b> {{crash.payload.version}} </b> </p>
                    <p ng-if="crash.payload.version.length === 0"> Version: <b style="color:red;"> Version is missing from json crsh line. </b> <b> Use <a href="/#!/core_dump_job" target="_blank"> CoreDumpJob </a> extractor to get the backtrace. </b> </p>
                    <p ng-if="crash.payload.core_path !== undefined"> Core dump:
                        <a style="cursor: pointer;" ng-click="downloadCoreDump(crash.payload.core_path)"><b> {{crash.payload.core_path}} </b></a>
                    </p>
                    <p ng-if="crash.payload.full_path !== undefined && crash.payload.full_path.length !== 0"> Full path: <b> {{crash.payload.full_path = crash.payload.full_path.replace('!', '/')}} </b> </p>
                    <p ng-if="crash.payload.full_path.length === 0"> Full path: <b style="color:red">No path from DLT </b> </p>
                    <p ng-if="crash.payload.EIP !== undefined"> EIP: <b> {{crash.payload.EIP}} </b> </p>
                    <p ng-if="crash.payload.signal !== undefined"> Signal: <b> {{crash.payload.signal}} </b> </p>
                    <p ng-if="crash.payload.pid !== undefined"> Pid: <b> {{crash.payload.pid}} </b> </p>
                    <p ng-if="crash.payload.exec !== undefined"> Exec: <b> {{crash.payload.exec}} </b> </p>
                    <p ng-if="crash.payload.variant !== undefined"> Variant: <b> {{crash.payload.variant}} </b> </p>
                    <button type="button" class="btn btn-success" ng-show="crash.payload.core_path === undefined" ng-click="downloadKernelPanicCoreDump()"> Download kernel panic dump </button>
                    <!--  <button type="button" class="btn" copy-to-clipboard="{{crash.bt}}" ng-click="growlCopyClipboard()">Copy backtrace to clipboard</button> -->
                    <a download="{{crash.btName}}" ng-href="{{crash.btTxtBlob}}">
                        <button type="button" class="btn" style="color: black !important;">Download backtrace</button>
                    </a>
                    <button type="button" class="btn btn-link" ng-click="crash.showCrash = !crash.showCrash"> Show Backtrace </button>
                    </br>
                    </br>
                    <div class="well well-sm animate-show-hide" ng-show="crash.showCrash">
                        <div style="white-space: pre-wrap">{{crash.bt}}</div>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="well">
                    <strong> Processing options </strong>
                    </br>
                    </br>
                    <label class="btn btn-default" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true">
                        <input type="checkbox" ng-model="checkbox.getExtendedBacktrace" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true"> Extended backtrace (all threads)
                    </label>
                    </br>
                    </br>
                    <input type="text" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true" ng-model="manualPath.processFullPath" class="form-control" placeholder="Manually enter full path for process" bs-options="path for path in possibleProcessesPaths" bs-typeahead/>
                    </br>
                    <ui-select class="ui-select-bootstrap" ng-model="variant.value" theme="bootstrap" ng-disabled="ticketService.isSolvingCrashInProgress(ticketId) === true">
                        <ui-select-match placeholder="Choose a variant"><span ng-bind="variant.value"> </span>
                        </ui-select-match>
                        <ui-select-choices repeat="t in (variants | filter: $select.search)">
                            <span ng-bind="t"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button type="button" class="btn btn-warning" ng-click="solveCrashesAgain()"> Enforce to process ticket again.. </button>
            </div>
            <button type="button" class="btn btn-sm" ng-click="downloadBacktraceLogs()"> Download logs </button>
        </div>
    </div>
</div>